<!DOCTYPE html>
<html>
    <head>
        <style>
            table, th, td {
              border: 1px solid black;
              border-style: solid;
            }
        </style>
    </head>
<body>
    <form action={% url 'shop:dashboard' shop.id%}>
        {%csrf_token%}
        <input type="submit" value="Go to Dashboard"/>
    </form>
<h1>Enter Invoice Details</h1>
<h2> Basic Details:</h2>
<div>
    <p>Invoice No: {{shop.shop_code}}/{{invoice.invoice_no}}</p>
    <p>Shop Name: {{shop.name}}</p>
    <p>Name: {{account.name}}</p>
    <p>Address: {{account.address}},{{account.city}},{{account.state}}</p>
    <p>Phone No: {{account.phone_no}}</p>
</div>
<h2>Products Details:</h2>
<table style="width:100%">
    <tr>
      <th>Sl.no</th>
      <th>Product Name</th>
      <th>Description</th>
      <th>Hsn Code</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
    {% for product in product_list %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.hsn.code}}</td>
        <td>{{product.qty}}</td>
        <td>{{product.price}}</td>
    </tr>
    {% endfor %}
</table>
<form action={% url 'shop:addProducts' shop.id account.id invoice.id%}>
    {% csrf_token%}
    <input type="submit" value="Add Product" />
</form>
<h2>Payment Details:</h2>
<table style="width:100%">
    <tr>
      <th>Sl.no</th>
      <th>Product Method</th>
      <th>Amount</th>
      <th>Date</th>
    </tr>
    {% for payment in payment_list %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{payment.paymentMethod.paymentMethod}}</td>
        <td>{{payment.amount}}</td>
        <td>{{payment.date_time_created.date}}</td>
    </tr>
    {% endfor %}
</table>
<form action={% url 'shop:addPayment' shop.id account.id invoice.id%}>
    {% csrf_token%}
    <input type="submit" value="Add Payment" />
</form>

<h2>Finance Details:</h1>
<form action={% url 'shop:addDetails' shop.id account.id invoice.id%} method='POST'>
    {% csrf_token%}
    <label for="finance">Choose Finance Company:</label>
    <select name="finance" id="finance" required>
        {%for finance in finance_list %}
        <option value={{finance.id}}>{{finance.name}}</option>
        {%endfor%}
    </select>
    <label for="emi">EMI:</label>
    <input type="number" id="emi" name="emi" min="0" max="1000000" value=0>
    <label for="dp">Down-Payment:</label>
    <input type="number" id="dp" name="dp" min="0" max="1000000" value=0>
    <label for="disbursement">Disbursement:</label>
    <input type="number" id="disbursement" name="disbursement" min="0" max="1000000" value=0><br>
    <h2>Remark:</h2>
    <label for="remark">Remark:</label><br>
    <input type="text" id="remark" name="remark" value="" required width=200px><br>
    <input type="submit" value="Save and Download" />
</form>
<form action={% url 'shop:dashboard' shop.id%}>
    {%csrf_token%}
    <input type="submit" value="Go to Dashboard"/>
</form>
</body>
</html> 